<a href="https://colab.research.google.com/github/Ananassio/Big-Data-Analytics/blob/main/week_5/Assigment_NY_Taxi_on_Dask.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment: NY Taxi Fare Prediction with DASK

* Note: see [NY Taxi Usecase Notebook](https://colab.research.google.com/github/keuperj/DataEngineering22/blob/main/week_8/UseCase_NY_Taxi.ipynb) for an discription of a non-parallel solution

* NY Taxi Fare Prediction Task + Data: https://www.kaggle.com/c/new-york-city-taxi-fare-prediction/overview

In [1]:
#install DASK
!pip install distributed "dask[complete]" dask-ml graphviz  --ignore-installed

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting distributed
  Downloading distributed-2022.2.0-py3-none-any.whl (837 kB)
     |████████████████████████████████| 837 kB 4.5 MB/s
Collecting dask[complete]
  Downloading dask-2022.2.0-py3-none-any.whl (1.1 MB)
     |████████████████████████████████| 1.1 MB 31.2 MB/s
Collecting dask-ml
  Downloading dask_ml-2022.5.27-py3-none-any.whl (148 kB)
     |████████████████████████████████| 148 kB 19.6 MB/s
Collecting graphviz
  Downloading graphviz-0.20-py3-none-any.whl (46 kB)
     |████████████████████████████████| 46 kB 4.2 MB/s
Collecting tornado>=5
  Downloading tornado-6.1-cp37-cp37m-manylinux2010_x86_64.whl (428 kB)
     |████████████████████████████████| 428 kB 46.5 MB/s
Collecting sortedcontainers!=2.0.0,!=2.0.1
  Downloading sortedcontainers-2.4.0-py2.py3-none-any.whl (29 kB)
Collecting pyyaml
  Downloading PyYAML-6.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (596 kB)
     |████████████████████████████████| 596 kB 47.4 MB/s
Collecting zict>=0.1.3
  Downloading zict-2.2.0-py2.py3-none-any.whl (23 kB)
Collecting setuptools
  Downloading setuptools-62.6.0-py3-none-any.whl (1.2 MB)
     |████████████████████████████████| 1.2 MB 45.0 MB/s
Collecting toolz>=0.8.2
  Downloading toolz-0.11.2-py3-none-any.whl (55 kB)
     |████████████████████████████████| 55 kB 2.4 MB/s
Collecting msgpack>=0.6.0
  Downloading msgpack-1.0.4-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (299 kB)
     |████████████████████████████████| 299 kB 44.6 MB/s
Collecting cloudpickle>=1.5.0
  Downloading cloudpickle-2.1.0-py3-none-any.whl (25 kB)
Collecting packaging>=20.0
  Downloading packaging-21.3-py3-none-any.whl (40 kB)
     |████████████████████████████████| 40 kB 2.3 MB/s
Collecting tblib>=1.6.0
  Downloading tblib-1.7.0-py2.py3-none-any.whl (12 kB)
Collecting psutil>=5.0
  Downloading psutil-5.9.1-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (281 kB)
     |████████████████████████████████| 281 kB 28.4 MB/s
Collecting click>=6.6
  Downloading click-8.1.3-py3-none-any.whl (96 kB)
     |████████████████████████████████| 96 kB 5.5 MB/s
Collecting jinja2
  Downloading Jinja2-3.1.2-py3-none-any.whl (133 kB)
     |████████████████████████████████| 133 kB 41.8 MB/s
Collecting partd>=0.3.10
  Downloading partd-1.2.0-py3-none-any.whl (19 kB)
Collecting fsspec>=0.6.0
  Downloading fsspec-2022.5.0-py3-none-any.whl (140 kB)
     |████████████████████████████████| 140 kB 44.1 MB/s
Collecting importlib-metadata
  Downloading importlib_metadata-4.11.4-py3-none-any.whl (18 kB)
Collecting pyparsing!=3.0.5,>=2.0.2
  Downloading pyparsing-3.0.9-py3-none-any.whl (98 kB)
     |████████████████████████████████| 98 kB 4.5 MB/s
Collecting locket
  Downloading locket-1.0.0-py2.py3-none-any.whl (4.4 kB)
Collecting heapdict
  Downloading HeapDict-1.0.1-py3-none-any.whl (3.9 kB)
Collecting numpy>=1.20.0
  Downloading numpy-1.21.6-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (15.7 MB)
     |████████████████████████████████| 15.7 MB 49.7 MB/s
Collecting pandas>=0.24.2
  Downloading pandas-1.3.5-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.3 MB)
     |████████████████████████████████| 11.3 MB 35.2 MB/s
Collecting scikit-learn>=1.0.0
  Downloading scikit_learn-1.0.2-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (24.8 MB)
     |████████████████████████████████| 24.8 MB 1.4 MB/s
Collecting scipy
  Downloading scipy-1.7.3-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (38.1 MB)
     |████████████████████████████████| 38.1 MB 1.3 MB/s
Collecting multipledispatch>=0.4.9
  Downloading multipledispatch-0.6.0-py3-none-any.whl (11 kB)
Collecting numba>=0.51.0
  Downloading numba-0.55.2-cp37-cp37m-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (3.3 MB)
     |████████████████████████████████| 3.3 MB 57.5 MB/s
Collecting dask-glm>=0.2.0
  Downloading dask_glm-0.2.0-py2.py3-none-any.whl (12 kB)
Collecting six
  Downloading six-1.16.0-py2.py3-none-any.whl (11 kB)
Collecting llvmlite<0.39,>=0.38.0rc1
  Downloading llvmlite-0.38.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (34.5 MB)
     |████████████████████████████████| 34.5 MB 19 kB/s
Collecting pytz>=2017.3
  Downloading pytz-2022.1-py2.py3-none-any.whl (503 kB)
     |████████████████████████████████| 503 kB 62.2 MB/s
Collecting python-dateutil>=2.7.3
  Downloading python_dateutil-2.8.2-py2.py3-none-any.whl (247 kB)
     |████████████████████████████████| 247 kB 64.7 MB/s
Collecting joblib>=0.11
  Downloading joblib-1.1.0-py2.py3-none-any.whl (306 kB)
     |████████████████████████████████| 306 kB 72.0 MB/s
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Collecting bokeh>=2.1.1
  Downloading bokeh-2.4.3-py3-none-any.whl (18.5 MB)
     |████████████████████████████████| 18.5 MB 504 kB/s
Collecting typing-extensions>=3.10.0
  Downloading typing_extensions-4.2.0-py3-none-any.whl (24 kB)
Collecting pillow>=7.1.0
  Downloading Pillow-9.1.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.1 MB)
     |████████████████████████████████| 3.1 MB 45.2 MB/s
Collecting MarkupSafe>=2.0
  Downloading MarkupSafe-2.1.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (25 kB)
Collecting zipp>=0.5
  Downloading zipp-3.8.0-py3-none-any.whl (5.4 kB)
Installing collected packages: toolz, pyparsing, locket, zipp, typing-extensions, six, pyyaml, partd, packaging, numpy, fsspec, cloudpickle, threadpoolctl, scipy, pytz, python-dateutil, MarkupSafe, joblib, importlib-metadata, heapdict, dask, zict, tornado, tblib, sortedcontainers, setuptools, scikit-learn, psutil, pillow, pandas, multipledispatch, msgpack, llvmlite, jinja2, click, numba, distributed, dask-glm, bokeh, graphviz, dask-ml
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
thinc 8.0.17 requires typing-extensions<4.2.0,>=3.7.4.1; python_version < "3.8", but you have typing-extensions 4.2.0 which is incompatible.
spacy 3.3.1 requires typing-extensions<4.2.0,>=3.7.4; python_version < "3.8", but you have typing-extensions 4.2.0 which is incompatible.
panel 0.12.1 requires bokeh<2.4.0,>=2.3.0, but you have bokeh 2.4.3 which is incompatible.
gym 0.17.3 requires cloudpickle<1.7.0,>=1.2.0, but you have cloudpickle 2.1.0 which is incompatible.
google-colab 1.0.0 requires six~=1.15.0, but you have six 1.16.0 which is incompatible.
google-colab 1.0.0 requires tornado~=5.1.0; python_version >= "3.0", but you have tornado 6.1 which is incompatible.
flask 1.1.4 requires click<8.0,>=5.1, but you have click 8.1.3 which is incompatible.
flask 1.1.4 requires Jinja2<3.0,>=2.10.1, but you have jinja2 3.1.2 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
albumentations 0.1.12 requires imgaug<0.2.7,>=0.2.5, but you have imgaug 0.2.9 which is incompatible.
Successfully installed MarkupSafe-2.1.1 bokeh-2.4.3 click-8.1.3 cloudpickle-2.1.0 dask-2022.2.0 dask-glm-0.2.0 dask-ml-2022.5.27 distributed-2022.2.0 fsspec-2022.5.0 graphviz-0.20 heapdict-1.0.1 importlib-metadata-4.11.4 jinja2-3.1.2 joblib-1.1.0 llvmlite-0.38.1 locket-1.0.0 msgpack-1.0.4 multipledispatch-0.6.0 numba-0.55.2 numpy-1.21.6 packaging-21.3 pandas-1.3.5 partd-1.2.0 pillow-9.1.1 psutil-5.9.1 pyparsing-3.0.9 python-dateutil-2.8.2 pytz-2022.1 pyyaml-6.0 scikit-learn-1.0.2 scipy-1.7.3 setuptools-62.6.0 six-1.16.0 sortedcontainers-2.4.0 tblib-1.7.0 threadpoolctl-3.1.0 toolz-0.11.2 tornado-6.1 typing-extensions-4.2.0 zict-2.2.0 zipp-3.8.0

In [1]:
#in colab, we need to clone the data from the repo
!git clone https://github.com/keuperj/DATA.git
path='DATA'

fatal: destination path 'DATA' already exists and is not an empty directory.

In [2]:
#read data to Pandas DF
import pandas as pd
data=pd.read_csv("DATA/NY_taxi_train_small.csv")
y=data['fare_amount']
X=data.drop(['fare_amount'],axis=1)

In [25]:
X.head()

,key,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2014-03-12 17:04:30.0000001,2014-03-12 17:04:30 UTC,-73.956721,40.767081,-73.989080,40.772745,1
1,2009-04-17 21:59:00.00000044,2009-04-17 21:59:00 UTC,-73.870913,40.773722,-73.996285,40.716018,2
2,2009-10-06 13:42:00.00000015,2009-10-06 13:42:00 UTC,-73.976258,40.751410,-73.984795,40.751305,3
3,2012-05-02 21:38:39.0000004,2012-05-02 21:38:39 UTC,-73.977940,40.752586,-73.976525,40.667005,1
4,2011-04-21 18:11:13.0000001,2011-04-21 18:11:13 UTC,-73.988390,40.723152,-73.984367,40.736301,1

In [4]:
y.head()

0    11.0
1    23.7
2     5.7
3    28.1
4     5.7
Name: fare_amount, dtype: float64

## Assignment:
use *DASK Dataframes* and *DASK-ML* to 
* split in train and test data
* build a pre-processing,
* feature extraction and 
* prediction pipeline 

to predict the taxi fares. 

### Use
* local DASK cluster
* [DASK DataFrames](https://examples.dask.org/dataframe.html)
* [DASK-ML](https://ml.dask.org/)

### Hints:
* start with a very simple, but working predicten and then enhance the solution with better pre-processing and features

In [5]:
# Cluster setup
from dask.distributed import Client, LocalCluster
cluster = LocalCluster()
client = Client(cluster)

In [6]:
#get client info
client

In [7]:
import dask
import dask.dataframe as dd
import dask.array as da
import numpy as np

### Export DASk Dashboard to public URL

In [8]:
!npm install -g npm

/tools/node/bin/npm -> /tools/node/lib/node_modules/npm/bin/npm-cli.js
/tools/node/bin/npx -> /tools/node/lib/node_modules/npm/bin/npx-cli.js
+ npm@8.13.0
added 63 packages from 18 contributors, removed 296 packages and updated 138 packages in 14.945s

In [9]:
!npm install -g localtunnel

added 22 packages, and audited 23 packages in 2s

3 packages are looking for funding
  run `npm fund` for details

found 0 vulnerabilities

In [10]:
!lt --port 8787

^C

In [11]:
Xd = dask.dataframe.from_pandas(X.drop(['pickup_datetime','key'],axis=1), npartitions=10)
Xd

Dask DataFrame Structure:
               pickup_longitude pickup_latitude dropoff_longitude dropoff_latitude passenger_count
npartitions=10
0                       float64         float64           float64          float64           int64
100000                      ...             ...               ...              ...             ...
...                         ...             ...               ...              ...             ...
900000                      ...             ...               ...              ...             ...
999999                      ...             ...               ...              ...             ...
Dask Name: from_pandas, 10 tasks

In [12]:
Xd.head()

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,-73.956721,40.767081,-73.989080,40.772745,1
1,-73.870913,40.773722,-73.996285,40.716018,2
2,-73.976258,40.751410,-73.984795,40.751305,3
3,-73.977940,40.752586,-73.976525,40.667005,1
4,-73.988390,40.723152,-73.984367,40.736301,1

In [13]:
from dask_ml.preprocessing import StandardScaler
Xd = StandardScaler().fit_transform(Xd)
Xd.head()

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,-0.116695,0.087540,-0.122419,0.092280,-0.516770
1,-0.109739,0.088228,-0.123019,0.086211,0.238363
2,-0.118279,0.085918,-0.122062,0.089986,0.993496
3,-0.118415,0.086040,-0.121372,0.080969,-0.516770
4,-0.119262,0.082993,-0.122026,0.088381,-0.516770

In [14]:
Xd.replace([np.inf, -np.inf], np.nan)
Xd = Xd.fillna(0)

Xd.head()

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,-0.116695,0.087540,-0.122419,0.092280,-0.516770
1,-0.109739,0.088228,-0.123019,0.086211,0.238363
2,-0.118279,0.085918,-0.122062,0.089986,0.993496
3,-0.118415,0.086040,-0.121372,0.080969,-0.516770
4,-0.119262,0.082993,-0.122026,0.088381,-0.516770

In [15]:
Xd.astype(float)

Dask DataFrame Structure:
               pickup_longitude pickup_latitude dropoff_longitude dropoff_latitude passenger_count
npartitions=10
0                       float64         float64           float64          float64         float64
100000                      ...             ...               ...              ...             ...
...                         ...             ...               ...              ...             ...
900000                      ...             ...               ...              ...             ...
999999                      ...             ...               ...              ...             ...
Dask Name: astype, 50 tasks

In [16]:
yd = dask.dataframe.from_pandas(y, npartitions=10)
yd

Dask Series Structure:
npartitions=10
0         float64
100000        ...
           ...
900000        ...
999999        ...
Name: fare_amount, dtype: float64
Dask Name: from_pandas, 10 tasks

In [17]:
yd.head()

0    11.0
1    23.7
2     5.7
3    28.1
4     5.7
Name: fare_amount, dtype: float64

In [18]:
yd.fillna(0)

Dask Series Structure:
npartitions=10
0         float64
100000        ...
           ...
900000        ...
999999        ...
Name: fare_amount, dtype: float64
Dask Name: fillna, 20 tasks

In [19]:
from dask_ml.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(Xd, yd, test_size=0.15)

/usr/local/lib/python3.7/dist-packages/dask_ml/model_selection/_split.py:469: FutureWarning: The default value for 'shuffle' must be specified when splitting DataFrames. In the future DataFrames will automatically be shuffled within blocks prior to splitting. Specify 'shuffle=True' to adopt the future behavior now, or 'shuffle=False' to retain the previous behavior.
  category=FutureWarning,

In [20]:
from sklearn.pipeline import make_pipeline
from sklearn.ensemble import RandomForestRegressor
import joblib

In [21]:
RFR = RandomForestRegressor()

In [26]:
%%time
with joblib.parallel_backend('dask'):
    # Your scikit-learn code
    model = RFR.fit(X_train, y_train)

CPU times: user 45.2 s, sys: 15.1 s, total: 1min
Wall time: 14min 5s

In [29]:
%%time
with joblib.parallel_backend('dask'):
  model.score(X_test, y_test)

CPU times: user 18.3 s, sys: 181 ms, total: 18.4 s
Wall time: 18.1 s

In [31]:
%%time
with joblib.parallel_backend('dask'):
  Xpred = model.predict(X_test)

CPU times: user 17.1 s, sys: 189 ms, total: 17.3 s
Wall time: 14.6 s

In [33]:
pd.DataFrame(Xpred).head()

         0
0  17.3780
1  34.3128
2   8.4540
3  14.3310
4  10.6580

In [32]:
y_test.head()

6     26.50
7     32.67
8      7.50
11     5.70
14    10.90
Name: fare_amount, dtype: float64