<a href="https://colab.research.google.com/github/Ananassio/Big-Data-Analytics/blob/main/Week_3/Assignment_Hive.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hive
We use the *pyHive* lib: https://github.com/dropbox/PyHive 

## Resources
* [HQL cheat sheet](http://hortonworks.com/wp-content/uploads/2016/05/Hortonworks.CheatSheet.SQLtoHive.pdf)
* [Hive reference](https://cwiki.apache.org/confluence/display/Hive/LanguageManual)

## Install
Install *pyHive* via *anaconda*

In [4]:
!pip install -q condacolab

In [5]:
import condacolab 
condacolab.install()

‚ú®üç∞‚ú® Everything looks OK!

In [6]:
!conda install -y pyhive sasl

Collecting package metadata (current_repodata.json): - \ | / - \ | / - \ | / - \ done
Solving environment: / - \ | / - \ | / - \ | / - \ | / - \ | / - \ done

# All requested packages already installed.

In [2]:
#import libs
from pyhive import hive
from TCLIService.ttypes import TOperationState

In [7]:
# try to connect
server="ec2-52-51-22-48.eu-west-1.compute.amazonaws.com"
cursor = hive.connect(server).cursor()

In [40]:
#show our databases
cursor.execute('show databases')

In [41]:
#get data from execution
cursor.fetchall()

[('default',)]

In [42]:
#use default db
cursor.execute('use default')

In [43]:
#show tables in db
cursor.execute('show tables')

In [44]:
cursor.fetchall()

[('employee',), ('employee2',), ('salary',)]

In [17]:
# get table layout
cursor.execute('describe employee')
cursor.fetchall()

[('employee_id', 'int', ''),
 ('birthday', 'date', ''),
 ('first_name', 'string', ''),
 ('family_name', 'string', ''),
 ('gender', 'char(1)', ''),
 ('work_day', 'date', '')]

In [18]:
#select data
cursor.execute('select * from employee')

In [28]:
#get daata from selction
employee = cursor.fetchall()

In [20]:
#have a look
employee[:10]

[(10001, None, "'Georgi'", "'Facello'", "'", None),
 (10002, None, "'Bezalel'", "'Simmel'", "'", None),
 (10003, None, "'Parto'", "'Bamford'", "'", None),
 (10004, None, "'Chirstian'", "'Koblick'", "'", None),
 (10005, None, "'Kyoichi'", "'Maliniak'", "'", None),
 (10006, None, "'Anneke'", "'Preusig'", "'", None),
 (10007, None, "'Tzvetan'", "'Zielinski'", "'", None),
 (10008, None, "'Saniya'", "'Kalloufi'", "'", None),
 (10009, None, "'Sumant'", "'Peac'", "'", None),
 (10010, None, "'Duangkaew'", "'Piveteau'", "'", None)]

In [21]:
# get salary table layout
cursor.execute('describe salary')
cursor.fetchall()

[('employee_id', 'int', ''),
 ('salary', 'int', ''),
 ('start_date', 'date', ''),
 ('end_date', 'date', '')]

In [22]:
#select data
cursor.execute('select * from salary')

In [23]:
#get daata from selction
salary = cursor.fetchall()

In [24]:
salary[:10]

[(10001, 60117, None, None),
 (10001, 62102, None, None),
 (10001, 66074, None, None),
 (10001, 66596, None, None),
 (10001, 66961, None, None),
 (10001, 71046, None, None),
 (10001, 74333, None, None),
 (10001, 75286, None, None),
 (10001, 75994, None, None),
 (10001, 76884, None, None)]

## Ex 1
Get employees sorted by ``family_name``. Return first 10 entries.

In [31]:
cursor.execute("select * from employee sort by family_name")

In [32]:
family_name = cursor.fetchall()
family_name[:10]

[(266651, None, "'Aleksander'", "'Aamodt'", "'", None),
 (479557, None, "'Marie'", "'Aamodt'", "'", None),
 (19898, None, "'Vidar'", "'Aamodt'", "'", None),
 (487598, None, "'Alexius'", "'Aamodt'", "'", None),
 (481972, None, "'Bikash'", "'Aamodt'", "'", None),
 (57933, None, "'Yishay'", "'Aamodt'", "'", None),
 (460902, None, "'Nimmagadda'", "'Aamodt'", "'", None),
 (27413, None, "'Phuoc'", "'Aamodt'", "'", None),
 (411560, None, "'Basant'", "'Aamodt'", "'", None),
 (227725, None, "'Peternela'", "'Aamodt'", "'", None)]

## Ex 2
Get ``family_name`` and ``salary`` of employees sorted by salary. Return first 100 entries. Hint: you need to join both tables...

In [36]:
cursor.execute("select * from employee JOIN salary ON (employee.employee_id = salary.employee_id) sort by salary ")
data=cursor.fetchall()
data[:100]

[(253406, None, "'Olivera'", "'Baek'", "'", None, 253406, 38623, None, None),
 (49239, None, "'Fumiya'", "'Unno'", "'", None, 49239, 38735, None, None),
 (64198,
  None,
  "'Mechthild'",
  "'Langford'",
  "'",
  None,
  64198,
  38836,
  None,
  None),
 (34707, None, "'Jacqueline'", "'Syang'", "'", None, 34707, 38851, None, None),
 (49239, None, "'Fumiya'", "'Unno'", "'", None, 49239, 38859, None, None),
 (52167, None, "'Bernd'", "'Copas'", "'", None, 52167, 38888, None, None),
 (245104, None, "'Denny'", "'Assaf'", "'", None, 245104, 38923, None, None),
 (280460, None, "'Matt'", "'Munch'", "'", None, 280460, 38927, None, None),
 (95705, None, "'Yagil'", "'Perri'", "'", None, 95705, 38928, None, None),
 (245832, None, "'Pascal'", "'Lueh'", "'", None, 245832, 38936, None, None),
 (401786,
  None,
  "'Sachar'",
  "'Nicolson'",
  "'",
  None,
  401786,
  38942,
  None,
  None),
 (424301,
  None,
  "'Christfried'",
  "'Werthner'",
  "'",
  None,
  424301,
  38963,
  None,
  None),
 (209700, None, "'Shahaf'", "'England'", "'", None, 209700, 38990, None, None),
 (15830, None, "'Yurij'", "'Narwekar'", "'", None, 15830, 39012, None, None),
 (237594, None, "'Chaoyi'", "'Couchot'", "'", None, 237594, 39031, None, None),
 (65904, None, "'Shaw'", "'Kushnir'", "'", None, 65904, 39035, None, None),
 (22320, None, "'Divier'", "'Schauser'", "'", None, 22320, 39050, None, None),
 (200509, None, "'Somnath'", "'Zhang'", "'", None, 200509, 39062, None, None),
 (65904, None, "'Shaw'", "'Kushnir'", "'", None, 65904, 39063, None, None),
 (15830, None, "'Yurij'", "'Narwekar'", "'", None, 15830, 39069, None, None),
 (33683, None, "'Susanne'", "'Bail'", "'", None, 33683, 39072, None, None),
 (492443, None, "'Val'", "'Mansanne'", "'", None, 492443, 39075, None, None),
 (407530,
  None,
  "'Shuho'",
  "'Manderick'",
  "'",
  None,
  407530,
  39085,
  None,
  None),
 (200222, None, "'Anoosh'", "'Butner'", "'", None, 200222, 39089, None, None),
 (223269, None, "'Arno'", "'Michaels'", "'", None, 223269, 39089, None, None),
 (426116,
  None,
  "'Minghong'",
  "'Rosenbaum'",
  "'",
  None,
  426116,
  39094,
  None,
  None),
 (240902, None, "'Qingxiang'", "'Suri'", "'", None, 240902, 39096, None, None),
 (475254, None, "'Zhiguo'", "'Kobuchi'", "'", None, 475254, 39100, None, None),
 (489953,
  None,
  "'Valeska'",
  "'Collavizza'",
  "'",
  None,
  489953,
  39103,
  None,
  None),
 (37585,
  None,
  "'Hercules'",
  "'Cincotta'",
  "'",
  None,
  37585,
  39117,
  None,
  None),
 (72353, None, "'Kshitij'", "'Cesareni'", "'", None, 72353, 39120, None, None),
 (245713,
  None,
  "'Zhenhua'",
  "'Atrawala'",
  "'",
  None,
  245713,
  39121,
  None,
  None),
 (58479, None, "'Dines'", "'Erdmenger'", "'", None, 58479, 39124, None, None),
 (57385, None, "'Kiam'", "'Gomatam'", "'", None, 57385, 39127, None, None),
 (407497, None, "'Utpal'", "'Gecsei'", "'", None, 407497, 39129, None, None),
 (443058,
  None,
  "'Kamakshi'",
  "'Neiman'",
  "'",
  None,
  443058,
  39142,
  None,
  None),
 (14402, None, "'Mooi'", "'Peac'", "'", None, 14402, 39146, None, None),
 (28995, None, "'Gita'", "'McFarlin'", "'", None, 28995, 39146, None, None),
 (217148, None, "'Gina'", "'Kroll'", "'", None, 217148, 39147, None, None),
 (431110, None, "'Harjit'", "'Marzano'", "'", None, 431110, 39150, None, None),
 (278593, None, "'Ghassan'", "'Ranft'", "'", None, 278593, 39158, None, None),
 (31181, None, "'Uriel'", "'Uchoa'", "'", None, 31181, 39161, None, None),
 (286489,
  None,
  "'Fumiko'",
  "'Arlazarov'",
  "'",
  None,
  286489,
  39162,
  None,
  None),
 (65177, None, "'Maia'", "'Griswold'", "'", None, 65177, 39166, None, None),
 (27427, None, "'Mariusz'", "'Harbusch'", "'", None, 27427, 39166, None, None),
 (447752,
  None,
  "'Ramachenga'",
  "'Chiodo'",
  "'",
  None,
  447752,
  39169,
  None,
  None),
 (400756,
  None,
  "'Serenella'",
  "'Braunschweig'",
  "'",
  None,
  400756,
  39170,
  None,
  None),
 (464648,
  None,
  "'Sahrah'",
  "'Bresenham'",
  "'",
  None,
  464648,
  39175,
  None,
  None),
 (433565, None, "'Erez'", "'Kranzdorf'", "'", None, 433565, 39175, None, None),
 (298516, None, "'Gad'", "'Wossner'", "'", None, 298516, 39179, None, None),
 (470493,
  None,
  "'Doohun'",
  "'Hartvigsen'",
  "'",
  None,
  470493,
  39180,
  None,
  None),
 (105290, None, "'Muneo'", "'Dulin'", "'", None, 105290, 39182, None, None),
 (71566, None, "'Dinah'", "'Gruenwald'", "'", None, 71566, 39183, None, None),
 (253264,
  None,
  "'Soenke'",
  "'Birnbaum'",
  "'",
  None,
  253264,
  39185,
  None,
  None),
 (81788, None, "'Marie'", "'Marrakchi'", "'", None, 81788, 39186, None, None),
 (425579, None, "'Greger'", "'Denos'", "'", None, 425579, 39188, None, None),
 (401786,
  None,
  "'Sachar'",
  "'Nicolson'",
  "'",
  None,
  401786,
  39191,
  None,
  None),
 (284159, None, "'Keung'", "'Talmor'", "'", None, 284159, 39192, None, None),
 (14548, None, "'Raimond'", "'Ernst'", "'", None, 14548, 39192, None, None),
 (463157, None, "'Djenana'", "'Lunt'", "'", None, 463157, 39202, None, None),
 (291696, None, "'Kensei'", "'Acton'", "'", None, 291696, 39202, None, None),
 (100446, None, "'Mayuko'", "'Spell'", "'", None, 100446, 39205, None, None),
 (16867,
  None,
  "'Felicidad'",
  "'Garigliano'",
  "'",
  None,
  16867,
  39212,
  None,
  None),
 (90631, None, "'Kinh'", "'Jullig'", "'", None, 90631, 39216, None, None),
 (95459, None, "'Adel'", "'Hegner'", "'", None, 95459, 39217, None, None),
 (52167, None, "'Bernd'", "'Copas'", "'", None, 52167, 39221, None, None),
 (76483, None, "'Pramod'", "'Zirintsis'", "'", None, 76483, 39222, None, None),
 (451181, None, "'Jinya'", "'Baez'", "'", None, 451181, 39222, None, None),
 (107698,
  None,
  "'Saddek'",
  "'Kusakabe'",
  "'",
  None,
  107698,
  39225,
  None,
  None),
 (496848,
  None,
  "'Xiaopeng'",
  "'Piancastelli'",
  "'",
  None,
  496848,
  39227,
  None,
  None),
 (457186, None, "'Eckart'", "'Auria'", "'", None, 457186, 39228, None, None),
 (441545,
  None,
  "'Mingsen'",
  "'Kalorkoti'",
  "'",
  None,
  441545,
  39229,
  None,
  None),
 (73055, None, "'Taiji'", "'Pelc'", "'", None, 73055, 39229, None, None),
 (281546,
  None,
  "'Chuanyi'",
  "'Kuhnemann'",
  "'",
  None,
  281546,
  39234,
  None,
  None),
 (11565,
  None,
  "'Yoshinari'",
  "'Sankaranarayanan'",
  "'",
  None,
  11565,
  39236,
  None,
  None),
 (216185,
  None,
  "'Gurbir'",
  "'Antonisse'",
  "'",
  None,
  216185,
  39237,
  None,
  None),
 (299655,
  None,
  "'Mingdong'",
  "'Spataro'",
  "'",
  None,
  299655,
  39239,
  None,
  None),
 (236087,
  None,
  "'Kristin'",
  "'Klassen'",
  "'",
  None,
  236087,
  39244,
  None,
  None),
 (284791,
  None,
  "'Kazuhiko'",
  "'Giaccio'",
  "'",
  None,
  284791,
  39245,
  None,
  None),
 (287577, None, "'Halsur'", "'Ellozy'", "'", None, 287577, 39246, None, None),
 (28295, None, "'Babette'", "'Luef'", "'", None, 28295, 39254, None, None),
 (42926, None, "'Cheong'", "'Schieder'", "'", None, 42926, 39256, None, None),
 (279990,
  None,
  "'Augustine'",
  "'Alpin'",
  "'",
  None,
  279990,
  39256,
  None,
  None),
 (84104, None, "'Ekawit'", "'Erez'", "'", None, 84104, 39257, None, None),
 (298213, None, "'Lenore'", "'Rajcani'", "'", None, 298213, 39260, None, None),
 (253515, None, "'Kousuke'", "'Casley'", "'", None, 253515, 39263, None, None),
 (245492,
  None,
  "'Angus'",
  "'Schlumberger'",
  "'",
  None,
  245492,
  39264,
  None,
  None),
 (47670, None, "'Marek'", "'Unni'", "'", None, 47670, 39267, None, None),
 (208511, None, "'Shai'", "'Valtorta'", "'", None, 208511, 39271, None, None),
 (15830, None, "'Yurij'", "'Narwekar'", "'", None, 15830, 39273, None, None),
 (12444, None, "'Monique'", "'Reinhard'", "'", None, 12444, 39275, None, None),
 (15479, None, "'Zhenbing'", "'Soicher'", "'", None, 15479, 39279, None, None),
 (226312,
  None,
  "'Kazuhira'",
  "'Zallocco'",
  "'",
  None,
  226312,
  39279,
  None,
  None),
 (292804, None, "'Hongzue'", "'Kading'", "'", None, 292804, 39280, None, None),
 (108160, None, "'Percy'", "'Peot'", "'", None, 108160, 39280, None, None),
 (82434,
  None,
  "'Bojan'",
  "'Mullainathan'",
  "'",
  None,
  82434,
  39283,
  None,
  None),
 (85682, None, "'Vidar'", "'Turnbull'", "'", None, 85682, 39285, None, None),
 (465358,
  None,
  "'King'",
  "'Ramamoorthy'",
  "'",
  None,
  465358,
  39286,
  None,
  None),
 (475970, None, "'Zdislav'", "'Eiron'", "'", None, 475970, 39287, None, None),
 (450501, None, "'Gadiel'", "'Sidhu'", "'", None, 450501, 39287, None, None)]

## Ex 3
Get the average salary by gender. Hint: use Group by

In [ ]:
cursor.execute("select E.gender, avg(S.salary) from employee2 E JOIN salary S ON (E.employee_id = S.employee_id) GROUP BY gender")
cursor.fetchall()